@model TheCoolMovieApp.Models.UserModel

@using (Html.BeginForm("Subscribe", "UserAuthentication", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
    <button type="submit">Subscribe</button>
}